<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.jolljack.mapper.ISignupMapper">

    <select id="checkEmail" parameterType="UserDTO" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
          AND status = 'ACTIVE'
    </select>

    <select id="checkLoginId" parameterType="UserDTO" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE login_id = #{loginId}
          AND status = 'ACTIVE'
    </select>

    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO users (
            login_id,
            password_hash,
            name,
            email,
            region_id,
            favorite_crop_id,
            status,
            created_at,
            updated_at
        ) VALUES (
                     #{loginId},
                     #{passwordHash},
                     #{name},
                     #{email},
                     #{regionId},
                     #{favoriteCropId},
                     'ACTIVE',
                     NOW(),
                     NOW()
                 )
    </insert>

    <select id="getSidoList" resultType="RegionDTO">
        SELECT DISTINCT sido_name
        FROM region
        ORDER BY sido_name
    </select>

    <select id="getSigunguList" parameterType="RegionDTO" resultType="RegionDTO">
        SELECT sigungu_name
        FROM region
        WHERE sido_name = #{sidoName}
        ORDER BY sigungu_name
    </select>

    <select id="getRegionId" parameterType="RegionDTO" resultType="RegionDTO">
        SELECT region_id,
               sido_name,
               sigungu_name,
               full_region_name
        FROM region
        WHERE sido_name = #{sidoName}
          AND sigungu_name = #{sigunguName}
            LIMIT 1
    </select>

    <select id="getCropList" resultType="CropDTO">
        SELECT crop_id,
               crop_name
        FROM crop
        ORDER BY crop_name
    </select>

    <select id="getRegionByRegionId" parameterType="RegionDTO" resultType="RegionDTO">
        SELECT region_id  regionId,
               sido_name  sidoName,
               sigungu_name  sigunguName,
               full_region_name  fullRegionName,
               kma_area_id  kmaAreaId,
               kma_stn  kmaStn
        FROM region
        WHERE region_id = #{regionId}
            LIMIT 1
    </select>

    <select id="getCropByCropName" parameterType="CropDTO" resultType="CropDTO">
        SELECT crop_id   cropId,
               crop_name cropName
        FROM crop
        WHERE crop_name = #{cropName}
            LIMIT 1
    </select>

</mapper>