<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/findPassword.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
</head>
<body>

<div class="findpw-wrapper">
    <div class="bg-circle-bottom"></div>

    <div class="findpw-shell">
        <div class="findpw-card findpw-reset-card">

            <div class="findpw-card-top">
                <div class="findpw-service-brand">
                    <a th:href="@{/main/view}">
                        <img th:src="@{/img/logo.png}" alt="AgriWatch 로고" class="findpw-service-logo">
                    </a>
                    <div class="findpw-service-name">AGRIWATCH</div>
                </div>

                <h1 class="findpw-title">비밀번호 재설정</h1>
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" class="form-control" placeholder="새 비밀번호를 입력해주세요" maxlength="20">
                <span id="passwordMsg" class="msg-error"></span>
            </div>

            <div class="form-group">
                <label for="passwordConfirm">비밀번호 확인</label>
                <input type="password" id="passwordConfirm" class="form-control" placeholder="비밀번호를 다시 입력해주세요" maxlength="20">
                <span id="passwordConfirmMsg" class="msg-error"></span>
            </div>

            <button type="button" id="btnNext" class="btn btn-primary btn-full">다음</button>

        </div>
    </div>
</div>

<div th:replace="~{modal/modal :: commonModal}"></div>

<script th:inline="javascript">
    const CTX = /*[[@{/}]]*/ '/';
</script>
<script th:src="@{/js/modal.js}"></script>
<script th:src="@{/js/findPasswordReset.js}"></script>

</body>
</html>